<div class="description">
    <div class="description-button-wrapper">
        <button class="button info large emphasize description-button" data-bind="click: start">Це легко!</button>
    </div>

    <div class="description-image-wrapper" data-bind="click: start">
        <img class="description-image" src="~/css/img/image_transparent800.png" />
    </div>
</div>