<div class="header">
    <h1>
        Змусьте комунальників працювати -
        <br />повідомте про проблему!
    </h1>
    <br />
    <span>Часто наші скарги на проблеми залишаються на кухні. <br />Але для того, аби їх вирішити, про них треба повідомити владу.</span>
</div>