@{
    ViewBag.Title = "Мапа встановлених МАФів у місті Житомирі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <h1>
        Мапа встановлених МАФів у місті Житомирі
    </h1>
    <br />
    <span></span>
</div>
<div class="muf-map-wrapper">
    <iframe src="https://www.google.com/maps/d/embed?mid=zQEvyHSxrNaM.kexHVyIYM9NQ&" class="muf-map" frameborder="0"></iframe>
</div>
<hr />
<div class="muf-report-wrapper">
    <iframe src="https://docs.google.com/forms/d/1zcUjirwT5LQ2WjzhKnAAu1P0oZ4EhCy97wHH9CeKg40/viewform?embedded=true" width="700" height="720" frameborder="0" marginheight="0" marginwidth="0">Завантаження...</iframe>
</div>
