<div class="footer">
    <p>
        У випадку пропозицій та зауважень пишіть нам на <a class="button unstyled" href="mailto:admin@povidom.zt.ua">admin@povidom.zt.ua</a>
    </p>
    <p>
        Ми є у <a class="button unstyled" href="https://www.facebook.com/ZT.DemAlliance" target="_blank">Facebook</a> та <a class="button unstyled" href="http://vk.com/zt.demalliance" target="_blank">Вконтакті</a>
    </p>
    <p>
        <a href="http://www.dem-alliance.org" target="_blank"><img src="~/css/img/logo_da.png" alt="" /></a>
    </p>
    <p class="warning">
        * Використовуючи сервіс, Ви погоджуєтесь на обробку командою Демократичного альянсу залишених Вами персональних даних. Їх передача третім особам неможлива без вашої згоди.
    </p>
</div>
